<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Skamieniałości - Numery - Create</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form.css') }}" media="screen">
</head>
<body>
    <form action="" method="POST">
        <div>
            Numer:
        </div>
        <div>
            <input type="number" name="numer" size="60" min="1"/>
        </div>
        <div>
            Data:
        </div>
        <div>
            <input type="date" name="data" value="{{ dzsiaj }}" size="60"/>
        </div>
        <div>
            Czasopismo:
        </div>
        <div>
            <select name="czasopisma_wybor">
                {% for row in czasopisma %}
                    <option name="wybrane_czasopismo" value="{{ row[0] }}">{{ row[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" name="button" value="zatwierdz">Zatwierdź</button>
            <button type="submit" name="button" value="anuluj">Anuluj</button>
        </div>
    </form>
</body>
</html>