<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Skamieniałości</title>
</head>
<body>
    <h1>Baza Danych Skamieniałości</h1>
    <a href="{{ url_for('osoby') }}">Osoby</a><br>
    <a href="{{ url_for('okazy') }}">Okazy</a><br>
    <a href="{{ url_for('klady') }}">Klady</a><br>
    <a href="{{ url_for('uczelnie') }}">Uczelnie</a><br>
    <a href="{{ url_for('artykuly') }}">Artykuły</a><br>
    <a href="{{ url_for('numery') }}">Numery</a><br>
    <a href="{{ url_for('czasopisma') }}">Czasopisma</a><br>
    <a href="{{ url_for('stanowiska') }}">Stanowiska</a><br>
    <a href="{{ url_for('kolekcje') }}">Kolekcje</a><br>

</body>
</html>