<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Skamieniałości</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/menu.css') }}" media="screen">
</head>
<body>
    <h1>Baza Danych Skamieniałości</h1>
    <ul>
    <li><a href="{{ url_for('osoby') }}">Osoby</a></li>
    <li><a href="{{ url_for('okazy') }}">Okazy</a></li>
    <li><a href="{{ url_for('adresy') }}">Adresy</a></li>
    <li><a href="{{ url_for('klady') }}">Klady</a></li>
    <li><a href="{{ url_for('uczelnie') }}">Uczelnie</a></li>
    <li><a href="{{ url_for('artykuly') }}">Artykuły</a></li>
    <li><a href="{{ url_for('numery') }}">Numery</a></li>
    <li><a href="{{ url_for('czasopisma') }}">Czasopisma</a></li>
    <li><a href="{{ url_for('stanowiska') }}">Stanowiska</a></li>
    <li><a href="{{ url_for('kolekcje') }}">Kolekcje</a></li>
    </ul>

</body>
</html>