<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Skamieniałości - Stanowiska - Read</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/read.css') }}" media="screen">
</head>
<body>
    <form action="" method="POST">
        <table>
            <tr>
                <td>Nazwa: </td>
                <td>{{ nazwa }}</td>
            </tr>
            <tr>
                <td>Okres: </td>
                <td>{{ okres }}</td>
            </tr>
        </table>
        <button type="submit" name="button" value="wroc">Wróć</button>
    </form>
</body>
</html>