<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Skamieniałości - Stanowiska</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/table.css') }}" media="screen">
</head>
<body>
    <h1>Stanowiska Paleontologiczne</h1>
    <ul>
        <li><a href="{{ url_for('menu') }}">Menu</a></li>
    </ul>
    <div class="sekcja">
        <form action="" method="post">
            <button type="submit" name="button" value="c">Dodaj</button>
        </form>
        <form action="" method="post">
            <label for="pat">Wzorzec:</label>
            <input type="text" name="pat" id="pat" size="30" value=""/>
            <button type="submit" name="button" value="s">Szukaj</button>
        </form>
    </div>
    <div class="sekcja">
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th> Nazwa </th>
                <th> Okres </th>
            </tr>
            {% for row in rekordy %}
                <tr>
                    <td>
                        <form action="" method="post">
                            <button type="submit" name="button" value="d{{ row[0] }}">Usuń</button>
                        </form>
                    </td>
                    <td>
                        <form action="" method="post">
                            <button type="submit" name="button" value="u{{ row[0] }}">Zmień</button>
                        </form>
                    </td>
                    <td>
                        <form action="" method="post">
                            <button type="submit" name="button" value="r{{ row[0] }}">Pokaż</button>
                        </form>
                    </td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>