<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Skamieniałości - Kolekcje - Update</title>
</head>
<body>
    <form action="" method="POST">
        <label for="tytul">Tytuł:</label>
        <input type="text" name="tytul" id="tytul" size="100" value="{{ stary_tytul }}"/>
        <label for="kraj">Kraj:</label>
        <input type="text" name="kraj" id="kraj" size="100" value="{{ stary_kraj }}"/>
        <label for="opis">Opis:</label>
        <input type="text" name="opis" id="opis" size="100" value="{{ stary_opis }}"/>
        <button type="submit" name="button" value="zatwierdz">Zatwierdź</button>
    </form>
</body>
</html>